body {
    padding-top: 20px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-create {
    max-width: 330px;
    padding: 15px;
}